discord.py
openai
python-dotenv
git+https://github.com/ytdl-org/youtube-dl.git@master#egg=youtube_dl
PyNaCl
mysql-connector-python
APScheduler
azure-cognitiveservices-speech
ffmpeg
langcodes
language-data
requests
numpy
matplotlib
google-generativeai